<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>Controllers.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSessionServlet</servlet-name>
        <servlet-class>Controllers.EditSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>Controllers.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>Controllers.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartServlet</servlet-name>
        <servlet-class>Controllers.GetCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>Controllers.CommandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tableServlet</servlet-name>
        <servlet-class>Controllers.tableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTable</servlet-name>
        <servlet-class>Controllers.SearchTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/NewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSessionServlet</servlet-name>
        <url-pattern>/EditSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/AddCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartServlet</servlet-name>
        <url-pattern>/GetCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/CommandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tableServlet</servlet-name>
        <url-pattern>/tableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTable</servlet-name>
        <url-pattern>/SearchTable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
